<div class="container">
  <h2 class="title-lg mb">Вопросы</h2>

  <% @questions.each do |question| %>
    <p class="mb-sm <%='semi-transparent' if question.hidden%>"><%= link_to "Вопрос #{question.id}", question_path(question) %></p>
  <% end %>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>
