<div>
  <p class="title-md text-center mb-lg">Вопросов нет!</p>
  <p class="title-lg text-center deg30">¯\_(ツ)_/¯</p>
  <p class="text-lg text-center mt-lg">Задайте пользователю его первый вопрос!</p>
  <p class="mt">
    <%= render 'questions/form', question: @question %>
  </p>
<div>
