<p style="color: green"><%= notice %></p>

<div class="container mt-sm">
  <h2 class="title-lg">
    Вопросы с хештегом <%= @tag.with_sign %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
