* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
  text-decoration: underline;
}

.button_to {
  display: inline;
}
